{% extends "base_generic.html" %}

{% load filters %}
{% block content %}
	<h1> Problems </h1>
	<table class="table">
		<thead class = "thead-dark">
			<tr>
				<th scope="col"> ID </th>
				<th scope="col"> Name </th>
				<th scope="col"> Status </th>
				<th scope="col"> Tags </th>
			</tr>
		</thead>

		{% for problem in problems %}
			{% if not problem.hidden %}
			<tr>
				<th scope="row">{{ forloop.counter0 }}</th>
				<td>  <a href="{% url 'problem' problem.code %}">{{ problem.name }}</a> </td>
				<td>  {{ scores|get_item:problem.code }}/{{ problem.tests.count }} </td>
				<td> 
					
					{{ problem.tags.all|tags_to_comma_list }}
				</td>
			</tr>
			{% endif %}
		{% endfor %}
	</table>
{% endblock %}