{% extends "base_generic.html" %}

{% block content %}
<h1> AlgoJ </h1>
<p> Welcome to the <em>Alogirthms and Data Structure</em> course of the Spring 2018 semester! This is an online testing system you can use in order to practice your python skills and also check the partial correctness of some of the homework exercises.
</p>

<p> Check out the <b>Tutorial</b> section of the site to get a general idea on how it works. Also, after you register, check out the problem archive. Good luck! </p>

{% load static %}
<img src="{% static 'welcome.gif'%}"> </img>

{% endblock %}