{% extends "base_generic.html" %}

{% block content %}
	{% load static %}

	<!--<link rel="stylesheet" href="{% static 'lib/codemirror.css' %}">
	<script type="text/javascript" src="{% static 'lib/codemirror.js' %}"></script>
	<script type="text/javascript" src="{% static 'lib/python/python.js' %}"></script>
	-->

	<script src="{% static '/ace-builds-1.3.0/src-noconflict/ace.js' %}" type="text/javascript" charset="utf-8"></script>

	
		<div class="float-left">
			<h1> Task: {{ problem.name }} </h1>
		</div>
		<div class="float-right">
			<a href="{% url 'submissions' problem.code %}" class="btn btn-secondary">Submissions</a>
		</div>
		<div class="clearfix"> </div>
	
	{% if message %} 
		<div class="alert alert-success" role="alert">
  			{{ message }}
		</div>
	{% endif %}

	<p> {{problem.statement}} </p>

	{% if user.is_authenticated %}

		<form method="post" novalidate>
			{% csrf_token %}
			<div id="editor">{{ problem.template }}</div>
			<textarea name="source" id="source" style="display: none"></textarea>
			<br>
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>

	{% else %}
		<div class="alert alert-warning" role="alert">
  			You must be logged in order to submit a solution!
		</div>

	{% endif %}
	
	<script>
	    var editor = ace.edit("editor");
	    
	    editor.session.setMode("ace/mode/python");
	    editor.session.setOptions({ tabSize: 4, useSoftTabs: true });
	    editor.setShowPrintMargin(false);


	    var source = document.getElementById("source");
	    source.value = editor.getSession().getValue();

		editor.getSession().on("change", function () {
	    	source.value = editor.getSession().getValue();
	    	console.log(source.val)
		});
	</script>


	
	
{% endblock %}