{% extends "base_generic.html" %}

{% block content %}
<h1> Tutorial </h1>
<p> AlgoJ is a python based judge system that you can use for testing your source code. 
The archive contains a list of algorithmic tasks which you can solve. <b>All solutions are judged using Python3.</b> This is a prototype system, so don't be surprised if you exeperience a bug. Use this sytem mainly for training, it's not used for official grading.</p>

<h3> Registration </h3>
<p>To access the archive, you first need to register. The registration is a simple process, you can use your university email or your personal one. Press the <b>Sign up</b> button in the top right corner in order to register.</p>



<h3> Problem Archive </h3>
<p>The problem archive contains a list of tasks available for solving. Each task is composed of a:
<ol>
	<li>Problem statement</li>
	<li>Input and output specification</li>
	<li>One or more examples </li>
</ol></p>


<h3> Submission </h3>
<p>In order to solve a problem, you must write a function(s) that conforms to the specification of the problem.
In most cases, the input and output will be specified in the statement, and the code template will already include the necessary code in order in read the data and write the results. You only have to implement the specified functions.</p>

<p> After submitting your code, go to the <b>Submissions</b> page in order to track your results.

<h3> Verdicts </h3>
Here is a list of possible verdicts that your solution can get:

<ol>
	<li>Accepted - it means that your code got the right answer for the test.</li>
	<li>Wrong Answer - it means your code got a wrong answer for a given test.</li>
	<li>Time Limit Exceeded - you code has passed over the time limit. Each problem has a specified time limit.</li>
	<li>Runtime Error - your solution exited with a non-zero code, or your solution contains non-valid python code. Usually you'll be able to see a small description in the details if this happens.</li>
	<li>Evaluation Error - this should not happen. It means something malfunctioned in the judge. Try sending your submission again, or contact the administrator. </li>

</ol>

In addition, each problem has memory limit which is not specified but is set to around 256 MB.

{% endblock %}