{% extends "base_generic.html" %}

{% block content %}
<h1> Tutorial </h1>
<p> AlgoJ is a python based judge system that you can use for testing your source code. 
The archive contains a list of algorithmic tasks which you must solve. </p>

<h3> Registration </h3>
<p>To access the archive, you first need to register. The registration is a simple process, you can use your university email or your personal one. Press the <b>Register</b> button in the top right corner in order to register.</p>



<h3> Problem Archive </h3>
<p>The problem archive contains a list of tasks available for solving. Each task is composed of a:
<ol>
	<li>Problem statement</li>
	<li>Implementation specification</li>
	<li>One or more examples </li>
</ol></p>


<h3> Submission </h3>
<p>In order to solve a problem, you must write a function(s) that conforms to the specification of the problem.</p>
<h3> Problem Archive </h3>
<p>The problem archive contains a list of tasks available for solving. Each task is composed of a:
<ol>
	<li>Problem statement</li>
	<li>Implementation specification</li>
	<li>One or more examples </li>
</ol></p>


<h3> Submission </h3>
<p>In order to solve a problem, you must write a function(s) that conforms to the specification of the problem.</p>
<h3> Problem Archive </h3>
<p>The problem archive contains a list of tasks available for solving. Each task is composed of a:
<ol>
	<li>Problem statement</li>
	<li>Implementation specification</li>
	<li>One or more examples </li>
</ol></p>


<h3> Submission </h3>
<p>In order to solve a problem, you must write a function(s) that conforms to the specification of the problem.</p>
<h3> Problem Archive </h3>
<p>The problem archive contains a list of tasks available for solving. Each task is composed of a:
<ol>
	<li>Problem statement</li>
	<li>Implementation specification</li>
	<li>One or more examples </li>
</ol></p>


<h3> Submission </h3>
<p>In order to solve a problem, you must write a function(s) that conforms to the specification of the problem.</p>

{% endblock %}