
.signup{
	max-width: 600px;
}

.login{
	max-width: 500px;
}

body { 
	padding-top: 70px;
	padding-bottom: 20px; 
} 


#editor {
	border-style: solid;
	border-width: 1px;
	width: 100%;
	height: 500px;
}

@media screen and (min-width: 576px){
	.sidenav{
		position: fixed;
	}
}
